/*
#=====================================================================================
#Jack Brandt
#Course: CPSC 321
#Assignment: Final
#Date of current version: 12/??/2024
#Brief description of what program does:
#    css style, i have no idea what css is... I'm just following the w3 tutorial
#=====================================================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F4F4F4;
    margin: 0;
  }
h1 {
    font-family: sans-serif;
    color:white;
    font-size:300%;
    text-align:center;
}
p {
    color: black;
    font-family: Arial;
    font-size:150%;
    margin: 20px;
    text-align: left;
}
p.header {
  color:white;
}
div.header {
  background-color:#222b36;
  text-align: center;
  padding: 1%;
  margin-bottom: 10px;
}
div.butt {
  background-color: white;
  color: #0078d4;
  padding: 20px;
  font-size:125%;
  text-indent: 10%;
  text-align: center;
  flex-grow: 1;
}

div.flex {
  display: flex;
}
a.nav {
  text-decoration: none;
  flex-grow: 1;
}

form {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

form input {
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin: 2px;
  border-radius: 10px;
  border: none;
  background-color: #222b36;
  color: white;
}

form button {
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin: 2px;
  border-radius: 10px;
  border: none;
  background-color: #0078d4;
  color: white;
}

#result {
  margin-top: 10px;
}